<h1> <%= @sighting.description %></h1>
<h3> <%= @sighting.date %></h3>
<h3> Latitude: <%= @sighting.latitude %>, Longitude: <%= @sighting.longitude %> </h3>

<%= link_to "Edit", edit_animal_sighting_path(@sighting.animal, @sighting) %>
<%= link_to "Delete", animal_sighting_path(@sighting.animal, @sighting),
                      :data => {:confirm => "Are you sure?",
                                :method => "delete"} %>
