<h2> <%=  @animal.name %> </h2>
<% if @animal.sightings.any? %>

<ul>
  <% @animal.sightings.each do |sighting| %>
    <li><%= link_to sighting.description, animal_sighting_path(@animal, sighting) %></li>
  <% end %>
</ul>
<% else %>
  <h3>Get out there and spot some animals!</h3>
<% end %>
<%= link_to 'Add a sighting', new_animal_sighting_path(@animal) %>

<p>  <%= link_to "Edit this Animal file", edit_animal_path(@animal) %></p>
<p><%= link_to "Delete this Animal", animal_path(@animal),
                                  :data => {:confirm => "Reaaaally?",
                                  :method => "delete"} %></p>
<p> <%= link_to "All animals Page", animals_path %></p>
